.card_section {
  height: 61dvh;
  overflow-y: scroll;
}

.card_section::-webkit-scrollbar {
  width: 2px;
}
.card_section::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #f8f8f8;
  border-radius: 10px;
}

.card_section::-webkit-scrollbar-thumb {
  background: #df2027;
  border-radius: 10px;
}

.card_section::-webkit-scrollbar-thumb:hover {
  background: #df2027;
}
.card span,
p {
  color: #000;
}

.card_row {
  margin: 0 !important;
}

.card_col {
  margin-bottom: 30px;
}

.card {
  background: #f8f8f8;
  padding: 15px;
  border-radius: 20px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.card_content_bigwrapp > div {
  display: flex;
  align-items: top;
  justify-content: space-between;
}

.card_img_wrap {
  width: 35%;
}

.card_img_wrap > img {
  box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.05);
  width: 100%;
  height: 100%;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  /*border-bottom-right-radius: 5px;*/
}

.card_content_wrap {
  width: 62%;
}
.card_title {
  margin: 0;
  font-size: 20px;
  font-style: italic;
}

.card_time {
  width: 35%;
  background: #fff;
  padding: 5px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.05);
}

.card_date_span {
  font-style: italic;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.card_date_span > i {
  margin: 0 10px;
  font-size: 18px;
}

.card_time_span {
  margin-left: 10px;
  font-weight: bold;
  font-style: italic;
}

.card_time {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.time_box{
  margin-bottom: 10px;
}

.card_drop {
  background: #fff;
  padding: 5px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.card_details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

.card_details_item {
  width: 100%;
  background: #fff;
  padding: 6px 10px;
  border-radius: 10px;
  box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.card_details_item > span {
  font-size: 11px;
  /* color: #fff; */
}

.card_details_item > h4 {
  font-size: 14px;
  margin: 0;
  font-style: italic;
  /* color: #fff; */
}

.card_desc {
  margin-top: 20px;
  background: #fff;
  padding: 15px;
  border-radius: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.05);
}

.card_more_btn{
  border: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
}

.card_more_btn > span{
  margin-left: 10px;
}

.card_more_btn > i{
  font-size: 18px;
}
